name: Validate Empty Fields for Help and Description 

on: push

jobs:
  scan-xml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Scan XML files
        run: npm run scan-xml